<section class="diagramms{% if cssClass is defined %} {{cssClass}}{% endif %}">
    <canvas {% if cssID is defined %}id="{{cssID}}"{% endif %} {% if width is defined %}width="{{width}}"{% endif %} {% if height is defined %}height="{{height}}"{% endif %}>
</section>

<script>
    const ctx_{{chartID}} = document.getElementById('{{cssID}}');
    ctx_{{chartID}}.width = {{width}};
    ctx_{{chartID}}.height = {{height}};

    const labels = ["a","b","c","d","e","f","g"];
    const data = {
        labels: labels,
        datasets: [{{dataset|raw}}]
    }
    const chart = new Chart(ctx_{{chartID}}, {
        type: '{{chartType}}',
        data: data,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: false,
            maintainAspectRatio: false
        },
    });
</script>
